<div [ngStyle]="{'margin-left': '-' + this.nav.getOffset()*(100) + 'vw'}">

	<section class="intro">
		<h1>Примеры работ</h1>
		<p>За 20 лет сотрудничества с&nbsp;крупнейшими российскими и зарубежными компаниями, в&nbsp;качестве
			продуктового дизайнера, удалось поучаствовать в&nbsp;проектах на&nbsp;всех этапах
			разработки от идеи до исследования влияния нововведений на конечного пользователя. Обязательства
			NDA и тот факт, что организация систем внутреннего пользования не&nbsp;подлежат
			разглашению, лишают меня права подробно представить в&nbsp;портфолио проекты над&nbsp;которыми
			работал, однако, при личной встрече охотно отвечу на&nbsp;интересующие вас вопросы, а&nbsp;так
			же расскажу и покажу немного больше, чем продемонстрировано на&nbsp;примерах работ далее.</p>
	</section>

	<section class="oog">
		<div class="logo"></div>
		<p>Система автоматизации деятельности сотрудников АМиПМ, ОИВ города Москвы и подведомственных им
			государственных учреждений, направленной на прием и обработку обращений граждан и
			организаций</p>
	</section>

	<section class="mmc">
		<div class="logo"></div>
		<p>Автоматизация процесса оформления ВНЖ, РВП, Гражданства в многофункциональном миграционном
			центре города Москвы</p>
	</section>

	<section class="x5">
		<div class="logo"></div>
		<p>Инструмент по анализу Big Data. Система предлагает решения по оптимизации выкладки и
			ценообразования продукции распространяемой в сети Х5</p>
	</section>

	<section class="ptw">
		<div class="logo"></div>
		<p>Система мониторинга инцидентов на промышленных объектах. Визуальный и автоматизированный контроль
			деятельности обслуживающего персонала</p>
	</section>

	<section class="dit">
		<div class="logo"></div>
		<p>Интранет портал, помогающий в адаптации новых сотрудников, а так же автоматизирующий процессы
			операционной деятельности сотрудников ДИТ города Москвы</p>
	</section>

	<section class="mguu">
		<div class="logo"></div>
		<p>Реинженеринг системы дистанционного обучения МГУУ правительства Москвы</p>
	</section>


	<section class="megafon">
		<div class="logo"></div>
		<p>Модуль, используемый для автоматизации бизнес-процесса сбора обратной связи по обращениям частных
			клиентов</p>
	</section>

	<section class="mts">
		<div class="logo"></div>
		<p>Один из многочисленных модулей, разработанный для упрощения работы служб технической поддержки и
			эксплуатации компании МТС</p>
	</section>

</div>
